*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header-container{
    display: flex;
}

.header-left{
    width: 20%;
}

.logo{
    padding: 15px 35px;
}

.header-right{
    width: 60%;
    float: right;
}

#menu{
    list-style: none;
    float: right;
    margin-top: 35px ;
}

#menu > li{
    display: inline;
    margin: 20px;
}

.active {
    background-color: yellow;
    padding: 5px 15px;
}

#menu > li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#menu-right{
    float: right;
    width: 20%;
    background-color: yellow;
    text-align: left;
    padding: 25px 50px;
    display: flex;
}

#menu-right > i{
    font-size: 32px;
    width: 20%;
}

#menu-right > h6{
    font-size: 14px;
    width: 80%;
}

/* Banner Section */
#banner{
    background-image: url(/image/banner_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-txt{
    padding: 150px 0;
    text-align: center;
}

.banner-txt > h2{
    font-size: 80px;
    color: #fff;
}

.banner-txt > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: yellow;
    padding: 20px 60px;
}

/* Feature Section */
.feature-container{
    text-align: center;
    margin: 100px 200px;
}

.feature-title{
    margin: 0 200px;
}

.feature-title > h2{
    font-size: 40px;
}

.feature-title > h2 > span{
    background-color: yellow;
    padding: 0 3px;
}

.feature-detail{
    display: flex;
    margin-top: 50px;
}

.col{
    margin: 0 20px;
}

.card-icon{
    margin-bottom: 20px;
}

.card-icon > i{
    background-color: #f5f5f5;
    font-size: 36px;
    padding: 20px;
    border-radius: 100%;
}

.card > h3{
    margin-bottom: 20px;
}

.card > p{
    font-size: 16px;
    color: #505050;
}

/* Discount Section */
.discount{
    background-image: url(/image/discounthome.jpg);
    background-repeat: no-repeat;
    height: 500px;
}

.discount-container{
    color: white;
}

.discount-content{
    width: 800px;
    float: right;
}

.discount-content > h2{
    font-size: 60px;
}

.discount-content > h2 > span{
    color: yellow;
}

.discount-content > ul{
    margin-bottom: 50px;
    list-style: none;
}

.discount-content > ul > li > i{
    margin: 10px 20px 10px 0;
    color: black;
    background-color: yellow;
    border-radius: 100%;
    padding: 5px;
}


.discount-content > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: yellow;
    padding: 20px 60px;
}